<h1>Submit an issue to <% if anonymous %>
  <%= repo %>
<% else %>
  <a href="https://github.com/<%= repo %>"><%= repo %></a>
<% end %>
</h1>

<% if issue %>
  <div class="alert alert-success" role="alert">
    Your issue was successfully submitted<% if access %> as <a href="http://github.com/<%= repo %>/issues/<%= issue %>"><%= repo %>#<%= issue %></a><% end %>.
  </div>
<% end %>

<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" />
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" rows="10" id="body" name="body"></textarea>
  </div>
  <input type="file" name="file" id="file">

  <button type="submit" class="btn btn-default">Submit</button>
</form>
